{% load wagtailimages_tags %}
<pre>vehicle</pre>

<h2>properties</h2>
<dl>
    <dt>title</dt>
    <dd>{{ self.title }}</dd>
    <dt>price</dt>
    <dd>{{ self.price }}</dd>
    <dt>brand</dt>
    <dd>{{ self.brand }}</dd>
</dl>

<h2>search accessories</h2>
<table>
    <tr>
        <th>name</th>
        <th>prority</th>
    </tr>
    {% for acc in self.accessories %}
    <tr>
        <td>{{ acc.name }}</td>
        <td>{{ acc.priority }}</td>
    </tr>
    {% endfor %}
</table>

<h2>images</h2>
{% for vehicle_image in self.images.all %}
{% image vehicle_image.image min-500x200 %}
{% endfor %}